{%extends 'base.html' %}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html'as wtf%}

{%block styles%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}

{%block content%}
<body>
 
   <ul>
      
  </ul>
</body>
<br>
    <div class="container-fluid" style="font-family:'Russo One',sans-serif;text-align: center">
      <div class="row">
        <div class="container" id="block-text">
          <br>
          <div class="annitha" style="padding-bottom: 10%;text-align: center">
            <img src="/static/photos/blog.jpg" width="300"style="border-radius:50%">
          </div>
          <br>
          <br>
          <br>
          <div class="alexiane" style="background-color:RGB(109, 177, 180  );font-size:20px;float:left;border-radius:230px">
          </div>
        </div>
       </div>
      <div class="container">
        <br>
        <h2><strong>Blog Posts</strong></h2>
        <strong style="font-size:30px;background-color: rgb(245, 250, 248);">{{macro.displayCategoryList(new_category)}}</strong>
        <br>
        <br>
        <h3 class="add-category"><a class="btn btn-primary"href="/add/category"style="background-color:#002457;float:right"><span aria-hidden="true">Add a category!</span></a></h3>
      </div>
      <h3><strong>Quotes</strong> </h3>
      <div class="col-md-12">
        <div class="container">
          <div class="jumbotron">
            <div class="alexiane" style="background-color:RGB(201, 208, 205 );font-size:20px;border-radius:2300px">
            <p>{{quote.quote}}</p>
            <p>{{quote.author}}</p>
          </div>
          </div>
        </div>
      </div>

    </div>

  </body>
    {%endblock%}